<div class="pesquisar">
    <form (ngSubmit)="buscarAluno()" [formGroup]="buscarAlunoForm">
        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search" />
            <input type="text" pInputText placeholder="Pesquisar aluno" formControlName="id" />
            <button type="submit" class="botao">Pesquisar aluno</button>
        </p-iconField>
    </form>
    <div class="img">
        <img src="../../assets/img/PowerTrace.png" alt="">
    </div>
    <div class="img">
        <img src="../../assets/img/PowerTrace (1).png" alt="">
    </div>
</div>

<p-dialog header="Detalhes do Aluno" [modal]="true" [(visible)]="alunoDialog" [style]="{ width: '450px' }">
    <div class="container">
        <p-card *ngIf="aluno" header="Advanced Card" subheader="Card Subheader">
            <ng-template pTemplate="header">
                <img alt="Card" [src]="aluno.imagem" style="height: 300px;">
            </ng-template>
            <div class="card">
                <p>ID: {{ aluno.id }}</p>
                <p>Matricula: {{ aluno.matricula }}</p>
                <p>Nome: {{ aluno.nome }}</p>
                <p>Gênero: {{ aluno.sexo }}</p>
                <p>Série: {{ aluno.serie }}</p>
                <p>Curso: {{ aluno.curso }}</p>
            </div>
            <ng-template pTemplate="footer">
                <div style="display: flex; justify-content: center;">
                    <p-button label="Senha" (onClick)="showSenhaDialog()" />
                </div>
            </ng-template>
        </p-card>
    </div>
</p-dialog>

<p-dialog header="Confirmar dados" [modal]="true" [(visible)]="senhaDialog" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5">Informe a senha para continuar.</span>
    <div class="flex align-items-center gap-3 mb-5">
        <label for="senha" class="font-semibold w-6rem">Senha:</label>
        <input type="password" pInputText id="senha" class="flex-auto" autocomplete="off" [(ngModel)]="senha" (keydown.enter)="confirmarSenha()" />
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancelar" (onClick)="senhaDialog = false" severity="secondary" />
        <p-button label="Confirmar" (onClick)="confirmarSenha()" />
    </div>
</p-dialog>

<script>
    document.addEventListener('keydown' )
</script>
