<div class="pesquisar">
    <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Pesquisar aluno" />
        <button class="botao">Pequisar aluno</button>
    </p-iconField>
</div>


<div class="card">
    <p-table [value]="alunos" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Matricula</th>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>Sexo</th>
                <th>Serie</th>
                <th>Curso</th>
                <th>Email</th>
                <th>Telefone</th>
            </tr>
        </ng-template>
        <ng-template  pTemplate="body" let-product>
            <tr *ngFor="let aluno of alunos">
                <td>{{ aluno.matricula }}</td>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.data_nascimento | dataFormatada }}</td>
                <td>{{ aluno.sexo }}</td>
                <td>{{ aluno.serie }}</td>
                <td>{{ aluno.curso }}</td>
                <td>{{ aluno.email }}</td>
                <td>{{ aluno.telefone }}</td>
            </tr>
        </ng-template>
        <li>asdasd</li>
    </p-table>
</div>



