<section style="display: flex;">
    <app-side-bar></app-side-bar>
    <div class="container" style="margin-left: 300px;">
        <div class="content-item">
            <h1>{{title}}</h1>
            <div>
                <svg viewBox="0 0 100 100">
                    <rect x="0" y="0" width="50" height="50" stroke="transparent" stroke-width="3px" fill="transparent" />
                    <circle class="bg" cx="50" cy="50" r="40" stroke="" stroke-width="3px" fill="" /><text id="total" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">
                        1
                    </text>
                    <circle id="meter" class="meter" cx="50" cy="50" r="40" />
                </svg>
            </div>
        </div>
        <div class="content-right-item">
            <h1>Conteudo lateral</h1>
        </div>
    </div>
    <div class="fixed-messages">
        <p-messages 
        [(value)]="messages" 
        [showTransitionOptions]="'500ms'" 
        [hideTransitionOptions]="'1000ms'" 
        [enableService]="false" />
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let meterElement = document.getElementById('meter');

        meterElement.addEventListener('animationend', function() {
            meterElement.classList.remove('meter');
            void meterElement.offsetWidth;
            meterElement.classList.add('meter');
        })
    })
</script>