<section style="display: flex;">
    <app-side-bar></app-side-bar>
    <div class="container" style="margin-left: 300px;">
        <div class="content-item">
            <h1>{{title}}</h1>
            <div class="count-animation-item">
                <h1>Monitor de acesso</h1>
                <hr>
                <div class="count-animation-item-detail">
                    <div class="semana-controle">
                        <button (click)="alterarSemana(-1)">Semana Anterior</button>
                        <p>Período: {{ startDate | date: 'dd/MM/yyyy'}} - {{ endDate | date: 'dd/MM/yyyy' }}</p>
                        <button (click)="alterarSemana(1)">Próxima Semana</button>
                        <p-chart type="bar" [data]="data" [options]="options" />
                    </div>
                </div>
            </div>
            <div>
                <h2>Lista de acesso</h2>
            
                <div class="card">
                    <p-table #dt1 [value]="frequencias" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
                        [loading]="loading" [paginator]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    <div class="flex align-items-center">
                                        Nome do Aluno
                                    </div>
                                </th>
                                <th>
                                    <div class="flex align-items-center">
                                        Data de Acesso
                                    </div>
                                </th>
                                <th>
                                    <div class="flex align-items-center">
                                        Hora de Acesso
                                    </div>
                                </th>
                                <th>
                                    <div class="flex align-items-center">
                                        Dia da Semana
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-frequencia>
                            <tr>
                                <td>{{ frequencia.aluno.nome }}</td>
                                <td>{{ frequencia.data_acesso | dataFormatada }}</td>
                                <td>{{ frequencia.hora_acesso }}</td>
                                <td>{{ frequencia.dia_semana }}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="4">Nenhum registro encontrado.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-messages">
        <p-messages 
        [(value)]="messages" 
        [showTransitionOptions]="'500ms'" 
        [hideTransitionOptions]="'1000ms'" 
        [enableService]="false" />
    </div>
</section>