<section>
    <div class="side-bar">
        <div>
            <button>
                <i class="pi pi-bars"></i>
            </button>
        </div>
        <ul>
            <li>
                <a>
                    <div>
                        <i class="pi pi-home"></i>
                    </div>
                    <span>Página Principal</span>
                </a>
            </li>
            <li>Lista de Alunos</li>
            <li>Cadastrar Alunos</li>
            <li></li>
            <li></li>
        </ul>
        <div>
            <button (click)="logout()">Sair</button>
        </div>
    </div>
</section>