.fixed-messages {
    position: fixed; 
    top: 20px; 
    right: 20px; 
    z-index: 9999; 
    padding: 10px; 
}

.container {
    width: 100vw;
    display: flex;
}

.content-item {
    width: 55%;
}

h1 {
    margin: 0;
    padding-left: 18px;
    padding-top: 8px;
}

hr {
    width: 96%;
    margin-top: 2px;
    opacity: 20%;
}

p {
    width: 50%;
    text-align: justify;
    padding: 0.7rem;
}

.count-animation-item {
    background-color: white;
    border-radius: 12px;
}


  
  .semana-controle button {
    margin: 0 10px;
    padding: 10px 15px;
    border: none;
    background-color: #42A5F5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .semana-controle button:hover {
    background-color: #1E88E5;
  }
  
  .semana-controle span {
    font-size: 18px;
    font-weight: bold;
  }
  