.fixed-messages {
    position: fixed; 
    top: 20px; 
    right: 20px; 
    z-index: 9999; 
    padding: 10px; 
}

.container {
    width: 100vw;
    display: flex;
}

.content-item {
    width: 55%;
}

h1 {
    margin: 0;
    padding-left: 18px;
    padding-top: 8px;
}

hr {
    width: 96%;
    margin-top: 2px;
    opacity: 20%;
}

p {
    width: 50%;
    text-align: justify;
    padding: 0.7rem;
}

.count-animation-item {
    background-color: white;
    border-radius: 12px;
}

.count-animation-item-detail {
    display: flex;
    align-items: center;
}

.circulo {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#total {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

svg {
    width: 65%;
    height: 100%;
    padding-left: 12px;
    padding-bottom: 8px;
}

svg circle {
    fill: none;
    stroke-width: 5px;
    stroke-linecap: round;
}

svg circle.bg {
    stroke: #4e4e4e;
}

svg circle.meter {
    stroke: rgb(34, 228, 34);
    stroke-dashoffset: 300px;
    stroke-dasharray: 300px;
    animation: prog 12s linear forwards; 
}

@keyframes prog {
    0% {
        stroke-dashoffset: 300px;
    }
    100% { 
        stroke-dashoffset: 0;
    }
}